<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Student Registration</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
		

</head>
<body>
<div class="container">
	
	<div class="card">
		
		<div class="card-header bg-info text-white text-center"> 
			
			<h2>Student Registration Form</h2> 
		
		</div>
		
		<div class="card-body">
				
			<form th:action="@{/student/save}"  method="post">

			    Name :
			    <input type="text" name="sName">
			    <br><br>

			    Department :
			    <input type="text" name="sDept">
			    <br><br>

			    Fee :
			    <input type="number" name="sFee">
			    <br><br>

			    <input type="submit" value="Save">

			</form>
			
		</div>
			
		<div class="card-footer">
			
			<h3 th:text="${Msg}"></h3>
			
		</div>
		
	</div>
	
	</div>
	
</body>
</html>