<html xmlns:th="https://www.thymeleaf.org/">
	<head>
		<title>WELCOME TO DATA PAGE</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
		
	</head>
	<body>
		<table class="table">
			<tr class="bg-info text-white">
				<th>ID</th>
				<th>NAME</th>
				<th>DEPT</th>
				<th>FEES</th>
				<th>opreations</th>
			</tr>
			<tr th:each="ob:${list}">
				<td>[[${ob.Sid}]]</td>
				<td>[[${ob.sName}]]</td>
				<td>[[${ob.sDept}]]</td>
				<td>[[${ob.sFee}]]</td>
				
				<td>
					<a  class="btn btn-danger" th:href="@{/student/delete(id=${ob.Sid})}">DELETE</a> |<a class="btn btn-warning"  th:href="@{/student/edit(id=${ob.Sid})}">EDIT</a>
				</td>
			</tr>
		</table>
		
		<div> <bb>[[${message}]] </b> </div>
	</body>
</html>